.quoteBox__phrace{
    color: white;
    font-family: 'Dancing Script', italic;
    margin-top: 4%;
    padding: 15px 30px ;
    font-size: 30px;
    background-color: rgb(50, 46, 46);
    box-shadow: 0 0 10px #c5c2c5, 0 0 40px #c5c2c5, 0 0 80px #c5c2c5 ;
    margin: 8%;
    border-radius: 20%;
}
.quoteBox__btn {
    background: none;
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: 0.5s;
}
.quoteBox__btn:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    transition-delay: 0.1s;
    border-radius: 50%;
}

